---
layout: layouts/main.vto
title: Projects
type:
---

<h1>Projects</h1>

<hr />

<ul class="menu">
  {{ for item of nav.menu('/projects/').children }}
  {{ comp.project({ item }) }}
  {{ /for }}
</ul>
