<nav class="p-10 pl-20 pr-20 flex">
  <h2 class="text-xl flex-none m-auto"><a href="/">diacritics-owo</a></h2>
  <span class="flex-auto m-auto ml-20 mr-20 text-center">
    <!-- TODO: search -->
  </span>
  <span class="flex-none m-auto text-right">
    <a href="/posts" class="mr-20">Posts</a>
    <a href="/projects" class="mr-20">Projects</a>
  </span>
</nav>
