<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title }} {{- if title }} - {{ title -}} {{ /if }}</title>
    <link href="/styles/main.css" rel="stylesheet" inline />
  </head>
  <body>
    <nav class="p-10 pl-20 pr-20 flex">
      <div class="flex-none m-auto">
        <h2 class="text-xl text-center"><a href="/">diacritics-owo</a></h2>
        <span class="flex-none block md:hidden pt-5">
          <a href="/posts" class="mr-20">Posts</a>
          <a href="/projects">Projects</a>
        </span>
      </div>
      <span class="flex-auto m-auto ml-20 mr-20 text-center hidden lg:block">
        <!-- TODO: search -->
      </span>
      <span class="flex-none m-auto text-center lg:text-right hidden md:block">
        <a href="/posts" class="mr-20">Posts</a>
        <a href="/projects" class="lg:mr-20">Projects</a>
      </span>
    </nav>
    <main class="flex">
      <div
        class="flex-none w-[300px] sticky top-0 self-start pl-10 pt-20 prose hidden lg:block"
      >
        {{ contents }}
      </div>
      <article class="prose flex-1 max-width-[800px] m-auto p-10 pt-0 md:p-0">
        {{ content }}
      </article>
      <div class="flex-none m-auto hidden lg:block"></div>
    </main>
    <div class="h-[50dvh]"></div>
  </body>
</html>
