<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title }} {{- if title }} - {{ title -}} {{ /if }}</title>
    <link href="/styles/base.css" rel="stylesheet" inline />
  </head>
  <body>
    {{ comp.navigation() }}
    <main class="p-20 pt-10">
      <article class="prose">
        {{ content }}
      </article>
    </main>
    <div class="h-[50dvh]"></div>
  </body>
</html>
