@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
  font-weight: bold;
}

main {
  max-width: 800px;
  margin: auto;
}

.katex-html {
  display: none;
}

pre:has(code) {
  border: solid 1px lightgray;
}
