@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
  font-weight: bold;
}

.katex-html {
  display: none;
}

pre:has(code) {
  border: solid 1px lightgray;
}

.link-icon {
  text-decoration: none;
}

.link-icon::before {
  content: '§';
  margin-right: 10px;
}
